# Groupby, Pivot table, and apply

Groupby, pivot table, and apply are powerful functions in the pandas library. Groupby allows you to group data by different categories and then apply aggregate functions. Pivot table lets you reshape your data along chosen axes. Apply allows you to apply row wise or columnwise custom functions to your data. Below are examples of each function in action.

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np

In [2]:
def get_weight_of_animal(animal_type):
    '''
    returns the weight of an animal in kilograms.
    The weights are normally distributed with a mean
    given in the input function and a standard deviation
    of 1 (the default value for the function). The function
    will fail to return an animal type it doesn't know.
    '''
    if animal_type=='dog':
        return np.random.normal(75)
    elif animal_type=='cat':
        return np.random.normal(25)
    elif animal_type=='bird':
        return np.random.normal(5)
    else:
        raise ValueError('{animal} is not an animal type i know.'.format(animal=animal_type))
get_weight_of_animal('giraffe')

ValueError: giraffe is not an animal type i know.

## Generating a ranodm data set with `np.random.choice` and `apply`

Here we generate a random data set of animal categories and animal colors. Animal weights are dictated by the function in `get_weight_of_animal`. Note, there are two data types for animals, categorical and numerical. The categorical data type is what is used in group by functions.

In line 11 the apply is used on the `animal_category` dataframe column. This tells the dataframe to apply the function `get_weight_of_animal` to each row in the `animal_category` column. The value in each row is the input for the `get_weight_of_animal` function.

In [3]:
animal_category = ['dog', 'cat', 'bird']
animal_cat = np.random.choice(animal_category, 10000)

animal_color = ['red', 'blue', 'brown', 'black', 'green']
animal_col = np.random.choice(animal_color, 10000)


df = pd.DataFrame()
df['animal_category'] = animal_cat
df['animal_color'] = animal_col
df['animal_weight'] = df['animal_category'].apply(get_weight_of_animal)

## Groupby in action
Here we see the groupby function in action. The group by takes each category and applies an aggregate function to the category. In this case we are calculating the mean and standard deviation of the animal weights, but any aggregate function can be used here.

In [4]:
df.groupby('animal_category').mean()

                 animal_weight
animal_category
bird                  5.002899
cat                  25.029095
dog                  75.036677

In [5]:
df.groupby('animal_category').std()

                 animal_weight
animal_category
bird                  1.018436
cat                   1.007411
dog                   0.994942

## Pivot table
Pivot tables use categorical data and pivots on the axis to create a new structure. Pivot table may appear to be exactly the same as using group by on two columns (in this case, `animal_category` and `animal_color`) however it has one important difference, the shape of the returned data is different. While in this trivial example it may not be obvious as to the utility, the goals of the pivot table are often very useful (such as creating a data set where each row is unique).

To explain the pivot table, the data is grouped twice, first by animal category, then each category is split by animal color. Then the aggregate function `np.mean` is applied to all the data. The second category animal color is then rotated to be used as columns to form a new data shape as seen below.

In [6]:
df.pivot_table(index='animal_category', columns='animal_color', values='animal_weight', aggfunc=np.mean)

animal_color         black       blue      brown      green        red
animal_category
bird              4.976396   5.045614   5.030270   4.975072   4.987853
cat              25.005750  25.009736  25.019404  25.057985  25.052419
dog              75.078008  75.000129  75.072489  75.057202  74.977063